[Unit]
Description=Zethropol Monitoring Service

[Service]
Type=dbus
BusName=org.zethropol.Monitoring
ExecStart=/usr/lib/zethropol/zethropol-monitoring
Restart=on-failure
RestartSec=2s
