[Unit]
Description=Zethropol Performance D-Bus Service
After=dbus.socket
BindsTo=dbus.socket

[Service]
Type=dbus
BusName=org.zethropol.Performance
ExecStart=/usr/lib/zethropol/zethropol-performance
Restart=on-failure
RestartSec=2s

PrivateTmp=true
ProtectSystem=full
