<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="org.zethropol.diagnostics.helper">
    <description>Run Zethropol hardware diagnostics</description>
    <message>Authentication is required to run Zethropol hardware diagnostics.</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/zethropol/zethropol-diagnostics-helper</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
